<script id="template" type="text/x-handlebars-template">   
    <div class="slider_personas">       
        <div class="titulo">{{hombre}}</div>
            <div class="contenido" id="hombres">
              <div id="elemento">0</div>
              <div id="elemento">1</div>
              <div id="elemento">2</div>
              <div id="elemento">3</div>
              <div id="elemento">4</div>
              <div id="elemento">5</div>
              <div id="elemento">6</div>
              <div id="elemento">7</div>
              <div id="elemento">8</div>
              <div id="elemento">9</div>
              <div id="elemento">10</div>
              <div id="elemento">11</div>
              <div id="elemento">12</div>
            </div>
        </div>    
    </div>   
     
    <div class="slider_personas">
        <div class="titulo">{{mujer}}</div>        
        <div class="contenido" id="mujeres">
              <div id="elemento">0</div>
              <div id="elemento">1</div>
              <div id="elemento">2</div>
              <div id="elemento">3</div>
              <div id="elemento">4</div>
              <div id="elemento">5</div>
              <div id="elemento">6</div>
              <div id="elemento">7</div>
              <div id="elemento">8</div>
              <div id="elemento">9</div>
              <div id="elemento">10</div>
              <div id="elemento">11</div>
              <div id="elemento">12</div>
        </div>
    </div>

    <div class="slider_personas">
        <div class="titulo">{{indef}}</div>        
        <div class="contenido" id="indefinidos">
              <div id="elemento">0</div>
              <div id="elemento">1</div>
              <div id="elemento">2</div>
              <div id="elemento">3</div>
              <div id="elemento">4</div>
              <div id="elemento">5</div>
              <div id="elemento">6</div>
              <div id="elemento">7</div>
              <div id="elemento">8</div>
              <div id="elemento">9</div>
              <div id="elemento">10</div>
              <div id="elemento">11</div>
              <div id="elemento">12</div>
        </div>
        <div id="div_aux"></div>
    </div>
</script>    
